BASES/ProjectoExamenUD2/src/main/resources/pesca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pesca" type="PescaType"/>
  <xs:complexType name="CapturaMinimaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unidade" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EspecieType">
    <xs:sequence>
      <xs:element name="Habitat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mar"/>
            <xs:enumeration value="Río"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NomeCientifico">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dicentrarchus labrax"/>
            <xs:enumeration value="Diplodus sargus sargus"/>
            <xs:enumeration value="Conger conger"/>
            <xs:enumeration value="Labrus bergylta"/>
            <xs:enumeration value="Octopoda"/>
            <xs:enumeration value="Sepiida"/>
            <xs:enumeration value="Salmoninae"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OutrosNomes" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Lubina"/>
            <xs:enumeration value="Pulpo"/>
            <xs:enumeration value="Sepia"/>
            <xs:enumeration value="Trucha"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="CapturaMinimaType" name="CapturaMinima"/>
      <xs:element type="xs:string" name="Nota" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="nome" use="optional"/>
    <xs:attribute type="xs:string" name="valor" use="optional"/>
  </xs:complexType>
  <xs:complexType name="EspeciesType">
    <xs:sequence>
      <xs:element type="EspecieType" name="Especie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XornadaType" mixed="true">
    <xs:sequence>
      <xs:element type="CapturaType" name="Captura" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Descricion" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A auga estaba fría e turbia. A visibilidade era de 2 metros.
        "/>
            <xs:enumeration value="Un día moi agradable para a pesca con boa visibilidade. A auga estaba especialmente
            quente.
        "/>
            <xs:enumeration value="Aínda que o mar esta en calma, non se vía nada.
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="lugar" use="optional"/>
    <xs:attribute type="xs:string" name="data" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CapturaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="numUnidades" use="optional"/>
        <xs:attribute type="xs:string" name="peso" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PescaType">
    <xs:sequence>
      <xs:element type="EspeciesType" name="Especies"/>
      <xs:element type="XornadaType" name="Xornada" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>